form {
    label {
        display: block;
        margin-top: 1rem;
    }

    input {
        padding: 5px;
        margin-top: 5px;
    }

    button {
        margin: 1rem 1rem 0 0;
        padding: .4rem  1rem;
    }

    .validation-msg {
        margin-top: 1rem;
        color: green;

        .error {
            color: red;
        }
    }
}